<!DOCTYPE html>
<html>
    <head>
        <title>Invaders</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script> 
        <link rel="stylesheet" href="https://fontlibrary.org/face/video-game-font" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="main.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    </head>
    <body>
        <div class="menu" id="menu">
            <h1> Space Invaders !</h1>
            <button class="empezar menu-item" onclick="empezar_juego()" id="empezar" value="this"></button><br>
            <!--<button class="ayudar menu-item" onclick="ayudar_juego()" id="ayudar"></button><br>-->
            <button class="configurar menu-item" onclick="configurar_juego()" id="configurar"></button>
        </div>
        <div class="botones" id="botones">
            <button class="pausa" onclick="pantalla_pausa()" id="pausa"></button>
            <button class="musica" onclick="activar_sonido()" id="musica"></button> 
            <button class="terminar" onclick="terminar_juego()" id="terminar"></button>
        </div> <br>
        <div class="configuraciones" id="configuraciones">
            <button class="terminar" onclick="terminar_juego()" id="terminar"></button>

            <h3 id="titulo_modo"> {{ $t("message.modo")}} </h3>
            <div id="modo_juego">
                <label> classic </label>
                <input type="radio" class="modo_juego" value="classic" name="modo" checked>
                <label> scroller </label>
                <input type="radio" class="modo_juego" value="scroller" name="modo">
            </div>
            <h3 id="titulo_fondo"> {{ $t("message.fondo") }} </h3>
            <div id="fondo_juego">
                <ol>
                    <li v-for="fondo in fondos">
                        <button class="boton-fondo" v-bind:class="{ active: fondo.selected }" v-on:click="elegir(fondo,fondo.tipo)" v-bind:style="{ backgroundImage: 'url(' + fondo.url + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3 id="titulo_nave"> {{ $t("message.nave") }} </h3>
            <div id="nave_imagen">
                <ol>
                    <li v-for="nave in naves">
                        <button class="boton-fondo" v-bind:class="{ active: nave.selected }" v-on:click="elegir(nave,nave.tipo,nave.laser)" v-bind:style="{ backgroundImage: 'url(' + nave.url + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3 id="titulo_lenguaje"> {{ $t("message.lenguaje") }} </h3>
            <div id="lenguajes_juego">
                <ol>
                    <li v-for="idioma in idiomas">
                        <button class="boton-fondo"
                        v-bind:class="{active: idioma.selected }" 
                        v-on:click="elegir(idioma,idioma.valor)" 
                        v-bind:style="{ backgroundImage: 'url(' + idioma.url + ')' }"></button>
                    </li>
                </ol>
            </div>
        </div>
        <div id="contenedor"></div> 
        
    </body>
</html>                                                                                                                            