body {
    background-image: url("https://i.ibb.co/gdjYZXk/cool-background.png");
    text-align: center;
}

.Layout {

    display: inline-block;
    border: solid #bbb;
    background: #bbb;
}

button {
    margin: 5px 5px;
    width: 50px;
    height: 40px;
    font-size: 18px;
    background: #bbb;
}