<!DOCTYPE html>
<html>
    <head>
        <title>Pong</title>
        <link rel="stylesheet" href="https://fontlibrary.org/face/video-game-font" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="menu" id="menu">
            <h1> PONG !</h1>
            <button class="empezar menu-item" onclick="empezar_juego()" id="empezar" value="this"></button><br>
            <button class="ayudar menu-item" onclick="ayudar_juego()" id="ayudar"></button><br>
            <button class="configurar menu-item" onclick="configurar_juego()" id="configurar"></button>
        </div>
        <div class="botones" id="botones">
            <button class="pausa" onclick="pantalla_pausa()" id="pausa"></button>
            <button class="musica" onclick="activar_sonido()" id="musica"></button> 
            <button class="terminar" onclick="terminar_juego()" id="terminar"></button>
        </div> <br>
        <div class="configuraciones" id="configuraciones">
            <button class="terminar" onclick="terminar_juego()" id="terminar"></button>
            <h3> Paddle derecho</h3>
            <div id="colores_pongderecho">
                <ol>
                    <li v-for="color in colores">
                        <button class="boton-color" v-on:click="elegir(color.tipo)" v-bind:style="{ backgroundImage: 'url(' + color.valor + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3> Paddle izquierdo</h3>
            <div id="colores_pongizquierdo">
                <ol>
                    <li v-for="color in colores">
                        <button class="boton-color" v-on:click="elegir(color.tipo)" v-bind:style="{ backgroundImage: 'url(' + color.valor + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3> Bola </h3>
            <div id="colores_bola">
                <ol>
                    <li v-for="color in colores">
                        <button class="boton-color" v-on:click="elegir(color.tipo)" v-bind:style="{ backgroundImage: 'url(' + color.valor + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3> Fondo </h3>
            <div id="fondo_juego">
                <ol>
                    <li v-for="fondo in fondos">
                        <button class="boton-fondo" v-on:click="elegir(fondo.tipo)" v-bind:style="{ backgroundImage: 'url(' + fondo.valor + ')' }"></button>
                    </li>
                </ol>
            </div>
            <h3> Jugar </h3>
            <div id="modo_juego">
                <label>  Computadora
                    <input class="modo_juego" type="radio" name="modo_juego" value="PC" checked>
                </label>
                <label>  2 jugadores
                    <input class="modo_juego" type="radio" name="modo_juego" value="P2">
                </label>
            </div>
            <h3> Preview </h3>
        </div>
        <div id="contenedor"></div> 
    </body>
</html>