body {
    background-color: #e21d63;
    font-family: "ArcadeClassicRegular", arial;    
}

#contenedor {
    margin-top: 5px;
    display: none;
}

.menu {
    background-color: #63E21D;
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid black;
}

.menu-item {
    margin: 5px 0px;
}

.empezar {
    width: 30px;
    height: 30px;
    background: url("https://i.ibb.co/jDR2DN7/Icon-Play.png");
    background-size: 100%;
}

.botones {
    display: none;
}

button:hover {
    cursor: pointer;
}

.musica {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-Image: url("https://i.ibb.co/wYTqYbL/Vector-Sound-Muted.png");
    background-size: 100%;
    border: solid black;
}

.pausa {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-Image: url("https://i.ibb.co/GJTLcv7/Icon-Pause2.png");
    background-size: 100%;
    border: solid black;
}

.terminar {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-Image: url("https://i.ibb.co/0tGsGbH/Icon-Home.png");
    background-size: 100%;
    border: solid black;
    background-repeat: no-repeat;
}

.ayudar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-Image: url("https://i.ibb.co/ZgqqpD6/Icon-Help.png");
    background-size: 100%;
    border: solid black;
    background-repeat: no-repeat;
}
/*  */

.configurar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-Image: url("https://i.ibb.co/2gfFd9V/Icon-Settings.png");
    background-size: 100%;
    border: solid black;
    background-repeat: no-repeat;
}

.configuraciones {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #1D63E2;
    border: solid black;
}

.configuraciones h3 {
    margin-left: 10px;
    color: black;
}

li{
    display: inline-block;
    margin-left: 5px;
}

.boton-color {
    background-size: 100%;
    height: 30px;
    width: 30px;
}

.boton-fondo {
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
}